		body{
			background:url('images/style/Hapenny.jpg') no-repeat center;
			background-color:blue;
		}
        .style2
        {
            width: 20%;
        }
        .newStyle1
        {
			

        }
      
        .style5
        {
            font-family: fantasy;
            height: 44px;
            background-color: #6598FE;
        }
        .style6
        {
            font-family: Gisha;
            text-decoration: none;
        }
        .style7
        {
            font-family: Gisha;
            font-size: large;
            background-color: #333333;
        }
        .style8
        {
            color: #FFFFFF;
        }
        .style10
        {
            font-family: Gisha;
            font-size: large;
            height: 44px;
            background-color: #6598FE;
        }
        .style11
        {
            font-family: Gisha;
            font-size: medium;
            color: #FFFFFF;
            height: 44px;
            background-color: #6598FE;
        }
        .style17
        {
            width: 97px;
            font-family: Gisha;
            font-size: small;
            color: #FFFFFF;
            height: 44px;
            background-color: #6699FF;
        }
        .style18
        {
            text-align: center;
            color: #FF00FF;
            background-color: #333333;
        }
        .style19
        {
            height: 367px;
            background-color: #77BBE8;
        }
        .style21
        {
            width: 20%;
            height: 337px;
        }
        .style23
        {
            height: 86px;
            background-color: #999999;
        }
        .style24
        {
            height: 92px;
            background-color: #999999;
        }
        .style26
        {
            color: #FFFFFF;
            font-size: medium;
        }
        .style27
        {
            font-family: Gisha;
            font-size: medium;
            color: #FFFFFF;
            text-decoration: none;
        }
        .style29
        {
            padding-top: 10px;
            padding-bottom: 10px;
            height: 57px;
            background-color: #6598FE;
        }
        .style31
        {
            height: 72px;
            background-color: #CCCCCC;
        }
        .style32
        {
            height: 64px;
            background-color: #999999;
        }
      
        .style33
        {
            font-style: italic;
            font-weight: bold;
            background-color: #3399FF;
        }
        .style34
        {
            color: #FFFFFF;
            font-size: medium;
            background-color: #3399FF;
        }
        .style35
        {
            font-family: Gisha;
            font-size: medium;
            color: #FFFFFF;
            background-color: #333333;
        }
        .style36
        {
            color: #FFFFFF;
            background-color: #3399FF;
        }
      
        .style37
        {
            background-color: #6598FE;
        }
        .style38
        {
            text-decoration: none;
        }
